body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/body-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.page-wrap {
  margin: 0 auto;
  max-width: 1366px;
}
.container {
  margin: 0 auto;
  width: 1030px;
}
.header-wrap {
  height: 60px;
  display: flex;
  padding: 46px 0 17px;
  justify-content: space-between;
}
.logo-wrap {
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  text-decoration: none;
  gap: 8px;
  color: #fff;
}

.logo-link-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
}
.logo-link-text span:first-child {
  font-size: 29px;
  line-height: 29px;
}
.logo-link-text span:last-child {
  font-size: 18px;
  line-height: 18px;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header-contacts a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.main-wrap {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  grid-row-gap: 37px;
}
.main-item {
  text-decoration: none;
  color: #fff;
}
.main-item-img-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 220px;
  box-sizing: border-box;
}
.main-item-img {
  border: 1px solid;
  border-image: linear-gradient(to right, #fff, #000) 1;
}
.main-item-title {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.footer-wrap {
  padding: 48px 0 15px;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.main-item-details {
  transform: translateY(100%);
  transition: all 1s ease;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 55px;
  bottom: 0px;
  padding: 7px 15px 12px;
  box-sizing: border-box;
  background-color: #f26522;
}
.main-item-details-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-item-details-price span:first-child {
  font-size: 10px;
}
.main-item-details-view::after {
  content: url(../icon/view-details-icon.svg);
  padding-left: 16px;
}

.main-item-img-1 {
  border: 1px solid;
  border-image: linear-gradient(to right, #fff, #000) 1;
}
.main-item-details-1 {
  transform: translateY(100%);
  transition: all 1s ease;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 55px;
  bottom: 0px;
  padding: 7px 15px 12px;
  box-sizing: border-box;
  background-color: #f26522;
}
/*///// hover /////*/
.logo-link:hover,
.header-contacts a:hover {
  color: #f26522;
}
.logo-link:hover svg {
  filter: invert(53%) sepia(39%) saturate(5369%) hue-rotate(348deg)
    brightness(98%) contrast(94%);
}
.main-item:hover .main-item-details {
  transform: translateY(0%);
}
.main-item:hover .main-item-title {
  color: #f26522;
  transition: all 0.7s;
}
.main-item-1:hover .main-item-details-1 {
  transform: translateY(0%);
}
